# ASSIGNMENT 20

1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system'
len(test1)

43

In [3]:
outfile = open('test.txt', 'wt')
outfile.write(test1)
outfile.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [4]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()
    
    
len(test2)

43

In [5]:
test1 == test2

True

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [7]:
text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv', 'wt') as outfile:
    outfile.write(text)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [8]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')

In [9]:
db.commit()

5. Read books.csv and insert its data into the book table.

In [10]:
import csv
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

db.commit()

6. Select and print the title column from the book table in alphabetical order.

In [11]:
sql = 'select title from book order by title asc'

In [12]:
for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [13]:
for row in db.execute(sql):
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [14]:
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [15]:
for row in db.execute('select * from book order by year'):
    print(*row, sep=', ')

The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [16]:
import sqlalchemy

conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
     print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [25]:
!pip install redis

Requirement already satisfied: redis in c:\users\christina gurung\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\christina gurung\anaconda3\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: packaging>=20.4 in c:\users\christina gurung\anaconda3\lib\site-packages (from redis) (20.4)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\christina gurung\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.11.2)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\christina gurung\anaconda3\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Requirement already satisfied: six in c:\users\christina gurung\anaconda3\lib\site-packages (from packaging>=20.4->redis) (1.15.0)

In [ ]:
# import redis
# conn = redis.Redis()
# conn.delete('test')
# conn.hset('test',mapping = {'count' : 1, 'name' : 'Fester Bestertester'})
# #conn.hset('test',key =  1, value = 'Fester Bestertester')
# conn.hgetall('test')

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)

In [ ]:
 conn.hget('test', 'count')